[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/SDL_image"]
	path = ThirdParty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "ThirdParty/SDL_ttf"]
	path = ThirdParty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "ThirdParty/zlib"]
	path = ThirdParty/zlib
	url = https://github.com/madler/zlib.git
[submodule "ThirdParty/CGLM"]
	path = ThirdParty/CGLM
	url = https://github.com/recp/cglm.git
[submodule "Base/NK"]
	path = Base/NK
	url = https://github.com/serial-projects/nk-project.git
