# This ignores everything I don't want ;-)
Build
build

Package
*.o
*.so
*.dll
*.a

# Some random testing files:
A.json

# Some scripts I don't want people to see ;-)
RRBuildAll.sh
RRBuildReleaseAll.sh